@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply pt-[95px] lg:pt-[73px] ;
}

.layer{
  @apply absolute top-0 left-0 w-full h-full;
  background: rgb(2,0,36);
  background: linear-gradient(6deg, rgba(2,0,36,0.7231267507002801) 0%, rgba(0,212,255,0) 100%);
}

@keyframes fade {
   0%{
     opacity: 0;
   }
   100%{
     opacity: 1;
   }
}
@keyframes slide-top {
  0%{
    @apply translate-y-10 opacity-0;
  }
  100%{
    @apply translate-y-0 opacity-100;
  }
}

